body{
	background-color: #9ee094;
	font-size:large;
}

h1 {
	font-family: Helvetica, Arial; 
	font-weight: bold;
}

h3 {
	font-family: Helvetica, Arial; 
}

.navigation{
	background-color: #ffeec6;
	color: black;
	border-width: 1px;
	border-color: #afada7;
	border-style: solid;
	margin: 0px 5px;
}
.navb{
	min-height: 125px;
	background: url(./pearls3.png) repeat;
}
.logo{
	background-color: rgba(255, 255, 255, 0.1);
}

.topnav{
	background-color: #ffe6ad;
}

.topnav a{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;

}

.jumbotron{
	background-color: #9ee094;
	color: black;
	text-align: center;
}
.jumbotron h3{
	font-family: Helvetica, Arial; 
	font-weight: bold;
	
}
h2{
	text-align: center;
	color: #ef1a7a;
	text-shadow:
		-1px -1px 0 #b00c56,
		1px -1px 0 #b00c56,
		-1px 1px 0 #b00c56,
		1px 1px 0 #b00c56;

}
.dropdown{
	text-align:center;
}
select {
  /*transform: translate(-50%, 0);*/
  background-color: #ef1a7a;
  color: white;
  font-size: large;
  padding: 4px 7px;
  margin: 8px 8px;
  border: 2px solid #b00c56; 
  text-decoration: none;
}
/*option{
  text-align: center;
}*/
.sub{
  background-color: #ef1a7a;
  color: white;
  font-size: xx-large;
  padding: 5px 10px;
  margin: 8px 8px;
  border: 2px solid #b00c56; 
  text-decoration: none;
}

.ans{
	font-size: xx-large;
	color: #ef1a7a;
}

.footer{
	border-top-color: black;
	border-width: 1px;
	background: url(./pearls3.png) repeat;

}
.text{
	background-color: rgba(255, 255, 255, 0.5);
}
input{
	border-width: 0;
	text-align: center
}