body{
	background-color: #9ee094;
	font-size:large;

}

h1 {
	font-family: Helvetica, Arial; 
	font-weight: bold;
}

h3 {
	font-family: Helvetica, Arial;
}
ul{
	list-style: none;
}

.navigation{
	background-color: #ffeec6;
	color: black;
	border-width: 1px;
	border-color: #afada7;
	border-style: solid;
	margin: 0px 5px;

}
.navb{
	min-height: 125px;
	background: url(./pearls3.png) repeat;
}
.logo{
	background-color: rgba(255, 255, 255, 0.1);
}
.navbar-brand{
	text-align: center;
}

.topnav{
	background-color: #ffe6ad;
}

.topnav a{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;

}


.places{
  background-color: #ffe6ad;
  color: black;
  width: 75%;
  padding: 10px 10px;
  margin: 15px auto;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-color: #afada7;
}
.affixed{
	background-color: #9ee094;
	max-width: 75%;

}
.greeting{
	color: #ef1a7a;
	text-align: center;
}
.jumbotron{
	background-color: #9ee094;
}
.name{
	color: black;
	text-align: center;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-width: 5px;
	border-color: #d60261;	
}
.purpose{
	text-align: center;

}
.start{
	background-color: #ef1a7a;
    color: white;
    font-size: x-large;
    padding: 5px 8px;
    margin: 10px 10px;
    border: 3px solid #b00c56;
    text-align: center; 
    text-decoration: none;
}
.pic{
	border: 1px solid #ef1a7a;
	min-width: 75%;
}
.footer{
	border-top-color: black;
	border-width: 1px;
	background: url(./pearls3.png) repeat;
}
.text{
	background-color: rgba(255, 255, 255, 0.5);
}
hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 3px solid #ef1a7a;
    margin: 1em 0;
    padding: 0; 
}